#header { position: fixed; z-index: 100; width: 100%; height: 90px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; overflow: hidden; padding: 0 20px; }

#header h1 { width: 150px; height: 90px; background-image: url(../images/layout/main_logo.png); background-repeat: no-repeat; }

#header #gnb { height: 90px; }

#header #gnb .spanbox { height: 90px; position: relative; }

#header #gnb .spanbox span { position: absolute; background-color: #fff; width: 25px; height: 2px; right: 40px; }

#header #gnb .spanbox span:nth-child(1) { top: 20px; }

#header #gnb .spanbox span:nth-child(2) { top: 28px; }

#header #gnb .spanbox span:nth-child(3) { top: 36px; }
