#main #mainVisual { position: relative; }

#main #mainVisual ul li { height: 100vh; background-size: cover; background-position: center; background-repeat: no-repeat; }

#main #mainVisual ul li.visual01 { background-image: url(../images/main/bg1.jpg); }

#main #mainVisual ul li.visual02 { background-image: url(../images/main/bg2.jpg); }

#main #mainVisual ul li.visual03 { background-image: url(../images/main/bg3.jpg); }

#main #mainVisual .slogan { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center; color: #fff; }

#main #mainVisual .slogan h2 { font-size: 60px; font-weight: 700; margin-bottom: 20px; }

#main #mainVisual .slogan p { font-size: 20px; font-weight: 500; margin-bottom: 40px; }

#main #mainVisual .slogan a { padding: 10px 20px; border: 1px solid #fff; font-weight: 500; border-radius: 100px; }

#main #mainContents { position: relative; }

#main #mainContents .txtbox { position: absolute; top: 50px; left: 15px; z-index: 2; }

#main #mainContents .txtbox h2 { font-size: 30px; font-weight: 700; line-height: 1.5; margin-bottom: 20px; }

#main #mainContents .txtbox p { font-size: 14px; font-weight: 500; }

#main #mainContents .mainList li { display: -webkit-box; display: -ms-flexbox; display: flex; width: 33.3333%; height: 100vh; position: relative; }

#main #mainContents .mainList li .bg { width: 100%; background-position: 50%; background-size: cover; }

#main #mainContents .mainList li .bg:nth-of-type(1) { background-image: url(../images/main/slide_img_1.png); }

#main #mainContents .mainList li .bg:nth-of-type(2) { background-image: url(../images/main/slide_img_2.png); }

#main #mainContents .mainList li .bg:nth-of-type(3) { background-image: url(../images/main/slide_img_3.png); }

#main #mainContents .mainList li .bg:nth-of-type(4) { background-image: url(../images/main/slide_img_4.png); }

#main #mainContents .mainList li .bg:nth-of-type(5) { background-image: url(../images/main/slide_img_5.png); }

#main #mainContents .mainList li .bg:nth-of-type(6) { background-image: url(../images/main/slide_img_6.png); }

#main #mainContents .mainList li .link { position: absolute; padding: 5px 20px; border: 1px solid; border-radius: 100px; right: 50px; bottom: 60px; }
