@import "vars";
@import "mixins";

.titleBox {
  line-height: 1.5;

  h2 {
    margin-bottom: 50px;
    font-size: $h2;
    font-weight: 600;
  }
  p {
    font-size: $medium-size;
  }
}

#main {
  #mainVisual {
    li {
      height: 100vh;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      &.visual01 {
        background-image: url(../images/main/bg1.jpg);
      }
      &.visual02 {
        background-image: url(../images/main/bg2.jpg);
      }
      &.visual03 {
        background-image: url(../images/main/bg3.jpg);
      }
    }
    .slogan {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 5;
      color: $white-color;
      text-align: center;
      transform: translate(-50%, -50%);
      .main {
        font-size: $xx-large-size;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
        font-weight: 700;
      }
      .sub {
        margin-top: 3rem;
        font-size: $large-size;
      }
      a {
        display: inline-flex;
        margin-top: 5rem;
        padding: 20px 40px;
        border: 1px solid $white-color;
        transition: 0.25s;
        align-items: center;
        border-radius: 100px;
        &:hover {
          color: $white-color;
          background-color: $main-color;
          border-color: $main-color;
          span {
            color: $white-color;
          }
        }
        span {
          margin-left: 2rem;
          color: $main-color;
        }
      }
      .pagination {
        margin-top: 40px;
        .swiper-pagination-bullet {
          width: 15px;
          height: 15px;
          background: none;
          border: 2px solid $white-color;
          opacity: 1;
          transition: 0.25s;
          border-radius: 100px;
          &-active {
            width: 80px;
            background-color: $white-color;
          }
        }
      }
    }
  }
  // mainVisual end
  #product {
    overflow: hidden;
    position: relative;
    .titleBox {
      position: absolute;
      top: 50px;
      left: 15px;
      z-index: 2;
    }
    .list {
      li {
        position: relative;
        a {
          position: absolute;
          right: 50px;
          bottom: 50px;
          padding: 15px 30px;
          border: 1px solid $white-color;
          border-radius: 100px;
          @include flexCenter();
          transition: 0.25s;
          span {
            margin-left: 20px;
            color: $main-color;
          }
          &:hover {
            background-color: $text-color;
            color: $white-color;
          }
        }
      }
    }
    .btns {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      display: flex;
      button {
        @include box(100px);
        background-color: $white-color;
        @include flexCenter();
        span {
          font-size: $x-large-size;
        }
      }
    }
  }
}
